* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
body {
    position: relative;
    width: 100;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    background: url(https://w0.peakpx.com/wallpaper/439/252/HD-wallpaper-royal-challengers-2020-escn-ipl-ipl2020-rcb-royalchallengebangalore.jpg) no-repeat;
    background-size: 1600px 1300px;
    background-position:center;
    font-family: Arial, sans-serif;

}

header {
    position: relative;
    color:red;
    top: 0;
    width: 100;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
    background-size: 500px 200px ;
    background-position:center;
}
header .navigation a {
    color: #000;
    background: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 3px 15px;
    border-radius: 20px;
    transition: 0.5s;
    transition-property: background;
}


section {
    justify-content: space-between;
    
    display: flex;
    flex-direction: column;
    width: 1000Ppx;
    color: #fff;
    padding: 30px 20px;
}
section h2 {

    color: #238fd6;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 3px;
    margin-bottom: 30px;
}
section h2 span {
    color: #24a507;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
}
section h3 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 40px;
}

footer {
    
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a{
    position: relative;
    color: #fff;
    font-size: 30px;
}
footer a:not(:last-child) {
    margin-right: 60px;
}
footer a:hover {
    transform: scale(1.5);
}
